@use '../config' as *;

.footer {
  background: hsl(220, 18%, 97%);
  padding-block: 3.6em;
  
  &__logo {
    width: 3.4375em;
  }
  
  &__nav-item {
    color: var(--headers);
    font-size: 1.125rem;
    font-weight: 600;
  }

  @include desktop {
    padding-block: 3em;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__nav-item {
      transition: color .3s ease-in-out;
      
      &:hover {
        color: var(--primary-cyan);
        transition: color .3s ease-in-out;
      }
    }

    &_social-link {
      transition: all .3s ease-in-out;

      &:hover path {
        transition: all .3s ease-in-out;
        fill: var(--primary-cyan);
      }
    }
  }
}

.footer-nav {
  margin-block: 2.75em 3em;
  display: grid;
  gap: 1.6em;
  
  @include desktop {
    margin-block: 0;
    margin-right: 7em;
    text-align: left;
    width: 560px;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    row-gap: 1.2em;
  }
}

.footer-social {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  gap: 2.5em;
  
  @include desktop {
    gap: unset;
    margin: 0;
    justify-content: space-between;
    width: 120px;
  }
}