@use '../config' as *;

.hero {
  margin-bottom: 9.8em;
  &__logo {
    margin-block: 7.8em 3.7em;
    width: 7.75em;
  }
  
  @include desktop {
    background-size: 100% 100%;
    
    &__logo {
      margin-block: 8.2em 3.5em;
    }
  }
}



 