@use '../../config' as *;

// titles
.title {
  font-size: 1.93rem;
}

.subtitle {
  font-size: 1.71875rem;
  // line-height: 1.5;
}

.title-descript {
  font-size: 1.4375rem;
  // line-height: 1.5;
}

// subtitles
.descript {
  font-size: 1rem;
  line-height: 1.5;
  
  &--subtitle {
    font-size: 1rem;
    line-height: 1.5;
  }
}

